body {
  /* FONT */
  font-family: 'Inconsolata', monospace;

  /* COLOUR */
  background-color: #202020;
  color: #549A78;

  /* STRUCTURE */
  padding: 0; margin: 0;
}

.header {
  /* COLOUR */
  background-color: #303030;
  border-bottom: 1px solid #549A78;

  /* STRUCTURE */
  padding: 1px; margin: 0;
  text-align: center;
}

p {
   /* STRUCTURE */
   padding: 10px 10px 0px 10px; margin: 0;
}
